<mat-sidenav-container>
  <mat-sidenav #drawer fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      opened="false">
    <mat-toolbar>Menu</mat-toolbar>
    <app-sidenav (itemClicked)="drawer.close()"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-top-bar (menuClicked)="drawer.toggle()"></app-top-bar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
